[Unit]
Description=Vibration DAQ
#After=time-sync.target
#Wants=time-sync.target
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/vibration_daq_app /home/pi/Documents/config.yaml

[Install]
WantedBy=multi-user.target

